:root {
  --color-primary: #8C1C13;
  --color-secondary: #BF4342;
  --color-background: #E7D7C1;
  --color-tertiary: #A78A7F;
  --color-dark: #735751;
  font-size: 62.5%; 
}
*{
  padding: 0;
  box-sizing: border-box;
  box-shadow: none;
  max-width: 144rem;
}
body{
  margin: 0 auto;
  height: 100vh;
  background-color: var(--color-background);
}
.header{
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary);
  text-align: center;
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
  height: auto;
}
.logo-name-container{
  display: flex;
  align-items: center;
  text-align: center  ;
}
.logo{
  margin: 8.4rem 3.6rem 10rem 7.2rem  ; 
  width: 7.2rem;
  height: 8.1rem;
}
.title{
  width: 42rem;
  font-size: 8rem;
  height: 9.1rem;
  color: var(--color-background);

}
.navigation-bar{
  background-color:var(--color-secondary);
  height: 8.5rem;
}
.navbar-menu{ 
  display: flex;
  flex-direction: row;
  gap: 4.2rem;
  list-style: none;
  padding: 0;
  margin: 0 24rem;
  align-items: center;
  text-align: center;
  height: 8.5rem;
  width: 95rem;
}

.nav-item{
  height: 100%;
  display: flex;
  margin: 0 auto;
  text-align: center;
  font-family: 'Open-sans','sans-serif';
  
}
.nav-link{
  background-color: var(--color-secondary);
  text-decoration: none;
  font-size: 3.2rem;
  color:var(--color-background);
}
.nav-item .active {
  background-color: var(--color-background);
  font-weight: 600;
  color: var(--color-primary);
  height: 100%;
  margin-top: 0;
}
footer{
  background-color: var(--color-primary);
  height: 2.7rem;
  color: var(--color-background);
  text-align: center;
  margin-bottom: 0;
  width: 100%;
}
.pizza-image{
  background-color:black;
  height: auto;
  width: 15rem;
  margin-left: 2rem;
}
.pizza-card{
  border-radius: 2rem;
  display: flex;
  width: 80%;
  height: 15rem;
  gap: 4.1rem;
  align-items: center;
  background-color: var(--color-primary);
  font-family: "Open-sans", sans-serif;
  font-weight: 400;
}
.pizza-header h2{
  color: var(--color-background);
  font-size: 1.5rem;
}
.pizza-ingredients{
  margin-top: 0;
  color: var(--color-tertiary);
}
.cardapio-container{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  background-color: var(--color-background);
}
.pizzas-grid{
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 auto;

}
.pizza-prices{
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-between;  
}
.price-item{
  display: flex;
  flex-direction: column;
  color: var(--color-background);
  gap: 1rem;
  align-items:center;
}
.size-price{
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.inside-separator{
  display: flex;
}
.cart-image-container{
  width: 5rem;
  background-color: var(--color-secondary);
  border-radius: 1rem;
  align-items: center;
  margin-top: 2rem;
}
.cart-image{
  width: 3.15rem;
  height: 3.3rem;
}
.cart-image-container:hover{
  cursor: pointer;
}
.price-separator {
  height: 10rem; /* Altura da linha */
  width: 1px;
  background-color:var(--color-background); /* Cor da linha */
  margin: 0 15px; /* Espaçamento */
}
.outer-container{
  display: flex;
}