:root {
  --color-primary: #8C1C13;
  --color-secondary: #BF4342;
  --color-background: #E7D7C1;
  --color-tertiary: #A78A7F;
  --color-dark: #735751;
  font-size: 10px; 
}

body{
  margin: 0 auto;
  height: 100vh;
  background-color: var(--color-background);
  width: 100%;
}
.header{
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary);
  text-align: center;
  height: auto;
}
.logo-name-container{
  display: flex;
  align-items: center;
  text-align: center;
}
.logo{
  margin: 8.4rem 3.6rem 10rem 7.2rem  ; 
  width: 7.2rem;
  height: 8.1rem;
}
.title{
  width: 42rem;
  font-size: 8rem;
  height: 9.1rem;
  color: var(--color-background);
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: bold;

}
.navigation-bar{
  font-family: "poppins", sans-serif;
  background-color: var(--color-secondary);
  margin: 0 auto;
  width: 100%;
}
.navbar-menu{ 
  display: flex;
  flex-direction: row;
  gap: 4.2rem;
  list-style: none;
  margin: 0 23rem 0;
  background-color:var(--color-secondary);
  height: 8.5rem;

}

.nav-link{
  display: block;
  padding: 2rem;
  height: 100%;
  text-decoration: none;
  font-size: 3.2rem;
  color: var(--color-background); 
 

}
.nav-link.active{
  background-color: var(--color-background);
  color: var(--color-secondary);
}

footer{
  background-color: var(--color-primary);
  color: var(--color-background);
  text-align: center;
  margin-bottom: 0;
  width: 100%;
  font-size: 2.4rem;
}
.pizza-card{
  border-radius: 3rem;
  display: flex;
  flex-direction: row;
  padding: 0;
  width: 100%;
  height:32rem;
  background-color: var(--color-primary);
  font-family: "Open-sans", sans-serif;
  font-weight: 400;
}
.pizza-image{
  position: relative;
  background-color: black;
  border-radius: 4rem;
  max-width: 32rem;
  margin: 2rem 4.1rem 1.6rem 2.4rem ;

}
.pizza-header{
  margin: 2rem 2.5rem 3rem 0;
}
.pizza-header h2{
  font-family: "poppins", sans-serif;
  color: #FFFF;
  font-size: 3.2rem;
  margin-top: 0;
}
.pizza-ingredients{
  margin-top: 0;
  color: var(--color-background );
  font-size: 2.2rem;
  font-family: "poppins", sans-serif;
  max-height: 4.5rem;



}

.cardapio-container{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  background-color: var(--color-background);
}
.pizzas-grid{
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 auto;

}
.cart-image-container{
  background-color: var(--color-secondary);
  border-radius: 1.2rem;
  max-width: 5.3rem;
  margin: 0 auto;
  padding: 1.05rem 2.5rem;
  
}
.pizza-footer{
  font-family: "poppins",sans-serif;
  color: var(--color-background);
  font-size:2.4rem ;
  display: flex;
  flex-direction: row;
  margin-bottom: 3rem;
  max-height: max-content;
}
.size-price{
  display: flex;
  flex-direction: column;
}
.price-item{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.cart-image{
  max-width: 3.1rem;
  margin: 0 auto;
}
.cart-image-container:hover{
  cursor: pointer;
}
.price-separator {
  height: 100%; /* Altura da linha */
  width: .4rem;
  background-color:var(--color-background); /* Cor da linha */
  margin: 0 4.5rem; /* Espaçamento */
}

